@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --primary-color: #4b4bcafb;
    --secondary-color: #610606;
    --light-color: #f4f7f7;
    --dark-color: #0f0000;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Alata', sans-serif;
    color: #330;
    line-height: 1.6;
}

main {
    padding: 4rem;
    text-align: center;
}

  main .icons {
        margin-top: 1rem;
  }

   main a {
        padding: 0.5em;

   }


  main a:hover {
      background: var(--secondary-color);
      color: var(--light-color);
      transition: all 0.6s ease-in;
  }

/* Navbar */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #330;
}

.container .logo img {
    height: auto;
    width: auto;
    max-height: 40px;
    min-width: 150px;
    cursor: pointer;
}

h1, h2, h3 {
    font-weight: 250;
    line-height: 1.3;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code, pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

/*About me and contact page*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 3rem;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 340px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px rgba(36, 35, 34, 0.733) solid;
    width: 75%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* About me ii */
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 600px;
    margin: auto;
}


/* Work experience and education */

.cli .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.cli .container .experience {
    align-items: initial !important;
}


/* HNGI Internship */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

.cloud img {
    max-height: 300px;
}

/* Skills */

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.languages .card img {
    max-width: 110px;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Portfolio */
.main-work {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
}    

.main-work img {
        max-width: 300px;
        border: 2px solid #fff;
}        

/* .main-work img:hover {
         opacity: 0.4;
         color: var(--secondary-color);
         transition: all 0.6s ease-in;
            
        } */
    


/* footer */
.footer .social a {
    margin: 0 10px;
}

#main-footer {
    text-align: center;
    padding:  0.08rem;
    background: #333;
    color: #f4f7f7;
    height: 90px;

}    

#main-footer p {
        margin-top: 0.1rem;

}

#main-footer a {
      color: white;
      font-size: 1rem;
      transition: all 0.4s;
      display: inline-block;
}      



#main-footer a:hover,
             a:active {
        color: var(--dark-color);
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }


/* animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}


/* Media Queries */

/* Tablets */
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid
     {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1.5s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1.5s ease-in;
    }

    .stats {
        animation: none;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    main {
        text-align: center;
        align-items: center;
    }

    .main-work {
        grid-template-columns: repeat(2, 1fr);
    }

    #main-footer {
       height: 100px;
   }
}

/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1)                                           ;
    }

    .container .logo img {
        max-height: 30px;
    }

    .main-work {
        grid-template-columns: 1fr;
    }

   #main-footer {
       height: 100px;
   }
}

